html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* ! Fonts */
/* roboto-400 */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'),
  url('../fonts/roboto-v30-cyrillic_latin-regular.woff') format('woff');
}
/* roboto-500 */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2'),
  url('../fonts/roboto-v30-cyrillic_latin-500.woff') format('woff');
}
/* roboto-700 */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2'),
  url('../fonts/roboto-v30-cyrillic_latin-700.woff') format('woff');
}

/* nunito-400 */
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-weight: 400;
  src: url('../fonts/nunito-v25-cyrillic_latin-regular.woff2') format('woff2'),
  url('../fonts/nunito-v25-cyrillic_latin-regular.woff') format('woff');
}
/* nunito-700 */
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-weight: 700;
  src: url('../fonts/nunito-v25-cyrillic_latin-700.woff2') format('woff2'),
  url('../fonts/nunito-v25-cyrillic_latin-700.woff') format('woff');
}

/* ! General styles */
html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #f5f6fa;
}

img {
  display: block;
  height: 100%;
  vertical-align: middle;
}

.handle-container {
  max-width: 1566px;
  margin: 0 auto;
  padding: 0 20px;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Nunito', 'Arial', sans-serif;
  color: #364A63;
}
p {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
}

/* ! Sidebar styles */
.sidebar {
  z-index: 100;
  max-width: 290px;
  height: 100% !important;
  transition: all 0.3s ease;
}
.sidebar.close {
  max-width: 79px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
  .sidebar.close .sidebar-top {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .sidebar.close .site-logo,
  .sidebar.close .sidebar-link,
  .sidebar.close .sidebar-heading,
  .sidebar.close .sub-arrow,
  .sidebar.close .sidebar-item-badge {
    display: none;
  }
.sidebar-list {
  border-top: 1px solid #203247;
}
.sidebar-heading {
  color: #b7c2d0;
  font-family: 'Roboto', 'Arial', sans-serif;
}
.sidebar-item {
  position: relative;
  font-family: 'Nunito', 'Arial', sans-serif;
  padding-left: 24px;
  padding-right: 24px;
}
.sidebar.close .sub-menu {
  position: absolute;
  right: -100%;
  top: -10px;
  z-index: 1000;
  background-color: red;
  display: none;
}
.sidebar.close .sidebar-item:hover .sub-menu {
  top: -2px;
  display: block;
}
.sidebar-item-badge {
  color: #9cabff;
  background-color: #2b3748;
  border-radius: 1px;
}

/* ! Main content */
.main-content {
  left: 290px;
  width: calc(100% - 290px);
  transition: all 0.3s ease;
}
.sidebar.close ~ .main-content {
  left: 79px;
  width: calc(100% - 79px);
}
/* ! Header styles */
.header {
  border-bottom: 1px solid #dbdfea;
}
.header-text {
  color: #526484;
  font-family: 'Roboto', 'Arial', sans-serif;
}
.header-text a {
  color: #8091a7;
}
.header-admin-text {
  color: #6576ff;
  font-family: 'Roboto', 'Arial', sans-serif;
}
.header-admin-text ~ a {
  color: #526484;
}

/* ! Main styles */
.calendar-btn,
.repost {
  font-family: 'Nunito', 'Arial', sans-serif;
}
.calendar-btn::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-right: 12px;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.calendar-btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 10px;
  margin-left: 12px;
  background-image: url("../images/calendar-arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.repost::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  background-image: url("../images/reports.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.loss-amount::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../images/loss-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.profit-amount::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../images/profit-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.chart-box {
  background-image: url("../images/question-mark.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 24px) calc(24px)
}
.revenueChart .modebar {
  display: none;
}
.transaction-paid::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 7px;
  background-color: #1EE0AC;
  border-radius: 50%;
}
.transaction-canceled::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 7px;
  background-color: #E85347;
  border-radius: 50%;
}
.tabel-data-btn {
  width: 17px;
  height: 4px;
  background-image: url("../images/transactions-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.new-users-menu-btn {
  background-image: url("../images/new-users-btn.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.support-request-pending::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 7px;
  border-radius: 50%;
  background-color: #F4BD0E;
}
.support-request-open::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 7px;
  border-radius: 50%;
  background-color: #09C2DE;
}
.support-request-solved::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 7px;
  border-radius: 50%;
  background-color: #1EE0AC;
}
.notifications-item .notifications-date::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 10px;
  border-radius: 50%;
}
.notifications-item:first-child .notifications-date::before {
  border: 2px solid #6576FF;
}
.notifications-item:nth-child(2) .notifications-date::before {
  background-color: #6576FF;
}
.notifications-item:nth-child(3) .notifications-date::before {
  background-color: #FF63A5;
}
.notifications-date::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 13px;
  margin-left: 23px;
  background-image: url("../images/clock.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}